div #contents{
    margin-top : 10px;
}

#main-contents {
    margin-top : 50px;
}

.carousel-inner img{
    height : 200px;
    width : 190px;
    border-radius: 10px;
}

.carousel-inner .card{
    display : inline-block;
    width : 190px;
}


#profile{
    width : 200px;
    height : 320px;
}

#profile-img{
    width : 190px;
    height : 200px;
    border-radius: 10px;
    display : block;
    margin : auto;
}

#foods{
    margin-top: 50px;
}

img[imgtype ="event-image"]{
    border-radius: 10px;
    width : 250px;
    height : 190px;
}

#footer{
    margin-top: 100px;
}

