#movie-list{
    margin-top: 10px;
    margin-bottom: 10px;
}

div.col-4{
    margin-bottom: 30px;
}

.card-img-top{
    height : 300px;
    width : 270px;
    border-radius: 10px;
    display : block;
    margin : auto;
    margin-top : 10px;
}

/* .card-text-center{
    border-top : 20px;
    width : 280px;
} */

