<div class="row">
    <div class="col text-center"><h1 class="display-1">DGV</h1></div>
</div>


<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
<!--      controller 참조해서 href 수정-->
      <a class="navbar-brand" href="main">DGV</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="myMovies">내 영화</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="movieList">영화목록</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="myMovies">예매좌석변경</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href = "myMovies">예매취소</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>