<!doctype html>
<html lang="en">
  <head>
    <div id="header"></div>
  </head>
  <body>
    <div class="container" id="background">

      <div class="container" id="contents">

        <!-- import navbar -->
        <div id="navbar">
          
        </div>

        <div class="row text-center" id="movie-list">
            <h2>영화목록</h2>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src="/images/극한직업.jpg" class="card-img-top" alt="...">
                    
                      <div class="card-body">
                        <h5 class="card-title">극한직업</h5>
                        <p class="card-text">형사들의 치킨집 잠복기</p>
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">예매율 30%</li>
                        <li class="list-group-item">개봉일 11/30</li>
                      </ul>
                      <div class="card-body">
                          
                          <button type="submit" class="btn btn-warning" movieName="극한직업">예매하기</button>
                      </div>
                    
                  </div>
            </div>
            <div class="col-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src="/images/끝까지간다.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">끝까지간다</h5>
                      <p class="card-text">숨막히는 스릴러</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">예매율 23%</li>
                      <li class="list-group-item">개봉일 12/30</li>
                    </ul>
                    <div class="card-body">
                      <button type="submit" class="btn btn-warning" movieName="끝까지간다">예매하기</button>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src="/images/베놈.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">베놈</h5>
                      <p class="card-text">슈퍼히어로 베놈</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">예매율 15%</li>
                      <li class="list-group-item">개봉일 1/30</li>
                    </ul>
                    <div
                            class="card-body">
                      <button type="submit" class="btn btn-warning" movieName="베놈">예매하기</button>
                    </div>
                  </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src="/images/극한직업.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">극한직업</h5>
                      <p class="card-text">형사들의 치킨집 잠복기</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">예매율 30%</li>
                      <li class="list-group-item">개봉일 11/30</li>
                    </ul>
                    <div class="card-body">
                        <button type="button" class="btn btn-warning">예매하기</button>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src="/images/극한직업.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">극한직업</h5>
                      <p class="card-text">형사들의 치킨집 잠복기</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">예매율 30%</li>
                      <li class="list-group-item">개봉일 11/30</li>
                    </ul>
                    <div class="card-body">
                        <button type="button" class="btn btn-warning">예매하기</button>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src="/images/극한직업.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">극한직업</h5>
                      <p class="card-text">형사들의 치킨집 잠복기</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">예매율 30%</li>
                      <li class="list-group-item">개봉일 11/30</li>
                    </ul>
                    <div class="card-body">
                        <button type="button" class="btn btn-warning">예매하기</button>
                    </div>
                  </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src="/images/극한직업.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">극한직업</h5>
                      <p class="card-text">형사들의 치킨집 잠복기</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">예매율 30%</li>
                      <li class="list-group-item">개봉일 11/30</li>
                    </ul>
                    <div class="card-body">
                        <button type="button" class="btn btn-warning">예매하기</button>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src="/images/극한직업.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">극한직업</h5>
                      <p class="card-text">형사들의 치킨집 잠복기</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">예매율 30%</li>
                      <li class="list-group-item">개봉일 11/30</li>
                    </ul>
                    <div class="card-body">
                        <button type="button" class="btn btn-warning">예매하기</button>
                    </div>
                  </div>
            </div>
            <div class="col-4">
                <div class="card text-center" style="width: 18rem;">
                    <img src="/images/극한직업.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">극한직업</h5>
                      <p class="card-text">형사들의 치킨집 잠복기</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">예매율 30%</li>
                      <li class="list-group-item">개봉일 11/30</li>
                    </ul>
                    <div class="card-body">
                        <button type="button" class="btn btn-warning">예매하기</button>
                    </div>
                  </div>
            </div>
        </div>
        
        
         

       
 




       <!--import footer-->
    <div id="footer"></div>
    </div>

    <!--bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <!-- import css -->
    <link rel="stylesheet" type="text/css" href="/css/movieListStyle.css">
    <!-- import jquery-->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- jsFile -->
    <script src="/jsFiles/movieList.js"></script>
    
  </body>
</html>