<!doctype html>
<html lang="en">
  <head>
    <div id="header"></div>
  </head>
  <body>
    <div class="container" id="background">

      <div class="container" id="contents">

        <!-- import navbar -->
        <div id="navbar"></div>

        <div class="row text-center" style="margin-top: 40px;">
            <h2 id="pageTitle">좌석선택</h2>
        </div>
    
        <div class="row">
          <div class="col-8">
            <div class="row text-center" style="color : white; background-color: grey; margin-top: 40px; margin-bottom: 70px; margin-left: 30px; margin-right: 30px;">
              <h3>SCREEN</h3>
          </div>
          <div class="row text-center" style="margin-bottom: 40px;">
              
              <div class="col-3 text-center">
                  <table class="table table-bordered">
                      <tbody>
  
                        <tr>
                          <td class="bg-white"><a>A1</a></td class="bg-white">
                          <td class="bg-white"><a>A2</a></td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white"><a>B1</a></td class="bg-white">
                          <td class="bg-white"><a>B2</a></td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">C1</td class="bg-white">
                          <td class="bg-white">C2</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">D1</td class="bg-white">
                          <td class="bg-white">D2</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">E1</td class="bg-white">
                          <td class="bg-white">E2</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">F1</td class="bg-white">
                          <td class="bg-white">F2</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">G1</td class="bg-white">
                          <td class="bg-white">G2</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">H1</td class="bg-white">
                          <td class="bg-white">H2</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">I1</td class="bg-white">
                          <td class="bg-white">I2</td class="bg-white">
                        </tr>
                        
                      </tbody>
                    </table>
              </div>
  
              <div class="col-6 text-center">
                  <table class="table table-bordered">
                      <tbody>
  
                        <tr>
                          <td class="bg-white">A3</td class="bg-white">
                          <td class="bg-white">A4</td class="bg-white">
                          <td class="bg-white">A5</td class="bg-white">
                        </tr>
  
        
                        <tr>
                          <td class="bg-white">B3</td class="bg-white">
                          <td class="bg-white">B4</td class="bg-white">
                          <td class="bg-white">B5</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-secondary">C3</td class="bg-white">
                          <td class="bg-secondary">C4</td class="bg-white">
                          <td class="bg-secondary">C5</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">D3</td class="bg-white">
                          <td class="bg-white">D4</td class="bg-white">
                          <td class="bg-white">D5</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">E3</td class="bg-white">
                          <td class="bg-white">E4</td class="bg-white">
                          <td class="bg-white">E5</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">F3</td class="bg-white">
                          <td class="bg-white">F4</td class="bg-white">
                          <td class="bg-white">F5</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">G3</td class="bg-white">
                          <td class="bg-white">G4</td class="bg-white">
                          <td class="bg-white">G5</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">H3</td class="bg-white">
                          <td class="bg-white">H4</td class="bg-white">
                          <td class="bg-white">H5</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">I3</td class="bg-white">
                          <td class="bg-white">I4</td class="bg-white">
                          <td class="bg-white">I5</td class="bg-white">
                        </tr>
  
  
                       
                        
                      </tbody>
                    </table>
              </div>
              
              <div class="col-3 text-center">
                  <table class="table table-bordered">
                      <tbody>
  
                        <tr>
                          <td class="bg-white"><a>A6</a></td class="bg-white">
                          <td class="bg-white"><a>A7</a></td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white"><a>B6</a></td class="bg-white">
                          <td class="bg-white"><a>B7</a></td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">C6</td class="bg-white">
                          <td class="bg-white">C7</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">D6</td class="bg-white">
                          <td class="bg-white">D7</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">E6</td class="bg-white">
                          <td class="bg-white">E7</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">F6</td class="bg-white">
                          <td class="bg-white">F7</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">G6</td class="bg-white">
                          <td class="bg-white">G7</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">H6</td class="bg-white">
                          <td class="bg-white">H7</td class="bg-white">
                        </tr>
  
                        <tr>
                          <td class="bg-white">I6</td class="bg-white">
                          <td class="bg-white">I7</td class="bg-white">
                        </tr>
                        
                      </tbody>
                    </table>
              </div>
          </div>
          </div>
          <div class="col-4">
            <h3 class="text-center" style="margin-top:100px;">선택 좌석 정보</h3>


            <div style="margin-top : 30px;" id="selected-seats">
              
              <div class="text-end">
                <br><br>
                
                <h4>총액 : <section id="total-price" style="display: inline;">0</section></h4>
                
                <button class="btn btn-primary">결제하기</button><hr>
              </div>
              


              
            </div>

          </div>
          
        </div>

        





       <!--import footer-->
        <div id="footer"></div>


        </div>


    </div>

    <!--bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    <!-- import css -->
    <link rel="stylesheet" type="text/css" href="/css/movieListStyle.css">
    <!-- import jquery-->
    <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
    <!-- jsFile -->
    <script src="/jsFiles/seats.js"></script>
    
  </body>
</html>